.channels {
    width: 50%;
    height: 600px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    width: 100%;
    height: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-img {
    width: 160px;
    height: 100%;
}

.card-info {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.info-rating {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
}

.info-priority {
    color: grey;
}